body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    --link-color: rgba(8, 8, 255, 0.703);
    --blue: rgb(65, 212, 212);
    --yellow: yellow;
    --header-color: darkgrey;
}
*/ {
    box-sizing: border-box;
}
#header {
    background-color: var(--header-color);
}
#burger-checkbox {
    display: none;
}
.burger-icon {
    font-size: 3rem;
    display: none;
}
#nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ltc-logo {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    margin-top: 10px;
}
.links {
    display: flex;
    text-align: center;
}
.nav-link {
    text-decoration: none;
    font-weight: 900;
    color: var(--link-color);
    border: 2px solid var(--link-color);
    border-radius: 5px;
    background-color: var(--yellow);
    padding: 5px 3px;
}
.video {
    display: flex;
    justify-content: center;
}
.video iframe {
    display: block;
}
.nav-link:hover {
    background-color: var(--header-color);
}
.info {
    display: flex;
    justify-content: space-around;
    background-color: var(--yellow);
}
.info img {
    display: block;
    width: 100%;
}
h1 {
    text-align: center;
}
#about, #events, #sports {
    width: 500px;
}
span {
    color: var(--blue);
    font-weight: 500;
}
#ftu h2 {
    margin-top: 0;
    text-align: center;
}
.ftu-contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.ftu-contacts img {
    width: 20px;
}
.globe, .phone, .mail {
    display: flex;
}
#about p {
    text-align: center;
}
.ftu-contacts a {
    text-decoration: none;
    color: var(--blue);
    font-weight: 500;
}
.ftu-contacts a:hover {
    text-decoration: underline;
}
.ftu-contacts img {
    padding-right: 15px;
}
.footer {
    background-color:var(--blue);
    height: 150px;
}
[type="email"], [type="submit"] {
    font-family: Montserrat;
    font-weight: 700;
    color: var(--blue);
    border: 2px solid var(--yellow);
    border-radius: 5px;
}
[type="submit"]:hover {
    color: var(--link-color);
}
.footer-form {
    margin-left: 1200px;
    padding-top: 50px;
    color: var(--yellow);
}
@media (max-width: 320px) {
.burger-icon {
    display: block;
    margin-top: 0px;
    margin-left: 10px;
}
.burger-icon:hover {
    cursor: pointer;
}
#burger-checkbox:checked~.links {
    display: none;
    flex-direction: column;
}
.links, .info {
    flex-direction: column;
}
.ftu-contacts {
    padding-left: 85px;
}
#about,
#events,
#sports {
    width: 100%;
}
.footer-form {
    margin-left: 20px;
}
}
